@import "tailwindcss";

:root {
  --color-90: #54585F;
  --color-70: #9F9D98;
  --color-50: #D6D2CB;
  --color-30: #F2EDE6;
  --color-10: #FAF7F3;

  --background: #ffffff;

  --header-button-gap: 15px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@media (min-width: 768px) {
  :root {
    --header-button-gap: 25px;
  }
}

@media (min-width: 1200px) {
  :root {
    --header-button-gap: 50px;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-90);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

.custom-medium-plus {
  font-weight: 500;
  text-shadow: 0.2px 0 0 currentColor;
}